@media (max-width: 992px){
    nav{

    }
    
    #info{
        font-size: 18px;
    }

    #cards{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 500px;
    }

    #contactos{
        justify-content: left;
        text-align: left;
        margin-left: 100px;
    }
}