*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Belanosima', sans-serif, Arial, Helvetica, sans-serif;
    background-color: #0b0f1e;
}

nav{
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    background-color: #1a2037;
    padding: 1rem;
}

.nucbaimg{
    width: 50px;
}

.nucbaimg:hover{
    filter: invert(54%) sepia(61%) saturate(553%) hue-rotate(162deg) brightness(87%) contrast(89%);
}

ul a{
    color: white;
    text-decoration: none;
}

ul a:hover{
    color: #3a97d4;
    text-decoration: underline;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}
/**/
/******** Sección hero ********/
/**/
#hero{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    padding: 60px;
    gap: 20px;
}

#hero-info{
    gap: 20px;
    width: 50%;
}

#hero h1{
    font-size: 35px;
    color: #3a97d4;
}

#hero p{
    font-size: 25px;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}

.button{

    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 1rem;
    background: rgb(60, 60, 60);
    border-radius: 15px;
}

.styled{
    background: #3a97d4;
}

#hero img{
    width: 400px;
}
/**/
/******** Sección info ********/
/**/
#info{
    text-align: center;
    width: 100%;
    height: 300px;
    font-size: 20px;
    color: white;
    margin-top: 130px;
    padding: 30px;
}
/**/
/******** Sección cards ********/
/**/
#h1-beneficios{
    text-align: center;
    background-image: linear-gradient(45deg, #ee82ee, #40e0d0);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-bottom: 100px;
}

#cards{
justify-content: space-around;
text-align: center;
display: flex;
height: 500px;
}

#cards img{
    height: 150px;
}

#cards h2{
padding: 30px;
font-size: 30px;
color: #252525;
}

#cards p{
    color: #3b3b3b;
}

.beneficios{
    background-color: whitesmoke;
    height: 400px;
    width: 400px;
    overflow: hidden;    
    border: 10px solid transparent;
    border-color: #3a97d4;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
