*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1a2037;
    padding: 1rem;
}

.nucbaimg{
    width: 50px;
}

.nucbaimg:hover{
    filter: invert(54%) sepia(61%) saturate(553%) hue-rotate(162deg) brightness(87%) contrast(89%);
}

ul a{
    color: white;
    text-decoration: none;
}

ul a:hover{
    color: #3a97d4;
    text-decoration: underline;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}